
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

}

a {
  display: block;
  font-size: 15px;
  padding-bottom: 5px;
  opacity: 0.5;

}

#columns {
  display: flex;
  height: 100%;
  max-width: 1500px; /*size of the page continer can be fix here*/
  width: 100%;
}

#left-column {
  flex: 1;
  text-align: left;
  background-color: hsl(46, 68%, 96%);
  border-radius: 5px;
  height: 100%;
  overflow-y: auto;
  transition: opacity 0.5s;
  width: 25%;
  padding: 50px 20px ;
}
#shoaib{
  padding-bottom: 20px;
  font-size: 20px;
  font-style: italic;
}
#right-column {
  flex: 3;
  text-align: center;
  background-color: hsl(46, 68%, 96%);
  border-radius: 5px;
  /* height: 100%; */
  /* overflow-y: auto; */
  overflow: auto;
  position: relative;
  transition: opacity 0.5s;
  width: 20%;
  padding: 50px 30px;
  margin: 0 auto;  
}

.a_decoration{
  text-decoration: none;
  color: #575151;
}

a:hover {
  color: #170d0d;
  text-decoration: none;
  font-weight: bold;
}

/* Adding some styling for social media icons */
.social-icons {
  margin-top: 10px;
  display: inline-block; /*social media icons inline*/
}

/*add space between social icons*/

.social-icons a {
  margin-right: 10px;
  display: inline-block;
  margin: 5px;
}

/* Styling for responsive images */
#content img {
  width: 20%; /* Ensure each image takes the full width of its container */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover;
  margin: 2px; /* Add some space between images */
  flex: 1 1 40%; /*Maximum of two image per row, with a slight gap between*/
}

#content p {
  margin: 50px 0; /*Adjuest the margin as needed*/
  font-size: 16px;
  text-align: justify;
}

/* the set-up right & left colume to be responsive */

@media (min-width: 768px) {
  #columns {
    flex-direction: row; /* Display columns side by side on larger screens */
  }

  #left-column {
    width: 25%; /* Adjust the width as needed */
    order: 1; /* Move left-column to the top on larger screens */
  }

  #right-column {
    width: 75%; /* Adjust the width as needed */
    order: 2; /* Move right-column to the bottom on larger screens */
  }

  /* Adjust text size for larger screens */
  #mainText {
    font-size: 18px;
  }

  #additionalText {
    font-size: 16px;
  }
}

/* Media queries for different screen sizes */
@media (max-width: 640px) {
  #content img :not(.play-icon) {
    width: 100%;
  }
  #left-column {
    width: 100%; /* Set to full width on smaller screens */
  }
}

@media (max-width: 360px) {
  #content img:not(.play-icon) {
    width: 100%;
    height: auto;
  }

}

@media (min-width: 361px) and (max-width: 414px) {
  #content img :not(.play-icon) {
    width: 100%;
    height: auto;
  }

}

@media (min-width: 415px) and (max-width: 360px) {
  #content img:not(.play-icon) {
    width: 100%;
    height: auto;
  }

}

@media (min-width: 361px) and (max-width: 412px) {
  #content img:not(.play-icon) {
    width: 100%;
    height: auto;
  }

}

@media (min-width: 413px) and (max-width: 390px) {
  #content img :not(.play-icon) {
    width: 100%;
    height: auto;
  }

}

@media (min-width: 391px) and (max-width: 360px) {
  #content img {
    width: 100%;
    height: auto;
  }

}

/* Additional styling for the content */
/* #content {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s, transform 0.5s;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap:10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto; /*center the content horizontally
  background-color: red;
} */

/* Additional styling for the heading */
h1 {
  margin-top: 0;
}

/*readMore*/

#additionalText{
  display: none; 
  opacity: 0; 
  transition-delay: 3s;
}

#readLessLink:hover{
  color: #241717;
  text-decoration: none;
}

/*Poems page codes*/

.poemS{
  padding-left: 100px;
}
/* images page links top and bottom */

#pageNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

#pageNavigation a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-size: 16px;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#pageNavigation a:hover {
  background-color: #333;
  color: #fff;
}

/* Add this styling for the page navigation links above images */
#pageNavigationAbove {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#pageNavigationAbove a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-size: 16px;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#pageNavigationAbove a:hover {
  background-color: #333;
  color: #fff;
}

/*image showcase*/

.images {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-gap: 7.5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Default: 1 column */
  padding: 20px;
}

@media (min-width: 580px) {
  .images {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Small devices: 1 column */
  }

  @media (min-width: 768px) {
      .images {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Medium devices: 2 columns */
      }

      @media (min-width: 992px) {
          .images {
              grid-template-columns: repeat(3, 1fr); /* Large devices: 3 columns */
          }
      }
  }
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.template.animate {
  transform: scale(1);
    opacity: 1;
}

#gallery-pagination {
  margin: 30px 0;
}

#btnNext,
#btnPrevious{
  background: transparent;
  color: #445658;
  padding: 8px 28px;
  border: 0;
  font-size: 30px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(166, 10, 10);
  cursor: pointer;
  outline: none;
}

#gallery-pagination #page {
  margin-left: 15px;
  margin-right: 15px;
  color: #707070;
  font-style: italic;
  font-size: 13px
}

.sr-only {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#gallery-dots {
  margin-bottom: 15px
}

.gallery-dot {
  background: #687375;
  border:0;
  padding:0;
  width: 40px;
  height: 25px;
  margin: 5px;
  opacity: 0.4;
  outline: none;
  cursor: pointer;
}

.gallery-dot.active {
  opacity: 1;
}

#gallery-pagination {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: start;
}

/* video files are added from header */


.video-gallery {
  width: 100%; /* Updated to take full width */
  box-sizing: border-box;
  padding-top: 50px;
  display: flex; /* Added flex container */
  flex-direction: column; /* Added to make child elements stack vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within elements */
}

.video-gallery img {
  width: 100%;
}

.video-gallery h3.other-videos-title {
  display: none;
}

.video-gallery .featured-video .video-card {
  position: relative;
}

.video-gallery .featured-video .video-card .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translate(-50%, -50%);
}

.video-gallery .related-videos {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
  justify-content: center; /* Center children horizontally */
}

.video-gallery .related-videos .thumbnail {
  position: relative;
}

.video-gallery .related-videos .thumbnail .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  transform: translate(-50%, -50%);
}

.video-gallery .related-videos .video-card {
  flex: 1 0 calc(33.33% - 8px);
  max-width: 200px;
  padding: 0 4px 8px 0;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background-image: linear-gradient(135deg, #727374 10%, #bcc3c4 100%);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 16px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media (max-width: 700px) {
  .video-gallery {
    padding: 0px 16px;
  }

  .video-gallery .related-videos .video-card {
    flex: 1 0 100%;
    max-width: none;
  }
}

@media (max-width: 550px) {
  .video-gallery .related-videos {
    flex-direction: column;
    margin-top: 0;
  }

  .video-gallery .related-videos .video-card {
    margin: 8px 0;
  }

  .video-gallery h3.other-videos-title {
    display: block;
    margin-top: 32px;
  }
}

  /* alinesitic page css codes */

  .qrCode {
    position: relative;
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    height: auto; /* Set a fixed height for demonstration purposes */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .qrCode .img_top,
  .qrCode .img_bottom {
    display: block;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    width: 90%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .qrCode .img_bottom {
    opacity: 0;
    animation: rotateBottom 5s linear infinite; /* Rotate animation */
  }
  
  .qrCode:hover .img_top {
    opacity: 0;
  }
  
  .qrCode:hover .img_bottom {
    opacity: 1;
    transition: opacity 3s ease-in-out;
  }
  
  @keyframes rotateBottom {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .qrCode .scan_me {
    position: absolute;
    top: 100%; /* Set the top property to 100% to position it at the bottom */
  }
  
  /* Style the h1 and h2 elements as needed */
  .qrCode .scan_me h1{
    margin: 0;
    font-size: 30px;  
  }
  
  .qrCode .scan_me h2 {
    margin: 0;
    font-size: 25px;
  }
/* animatoin button code start here */
   /* Hover Image Preview Styles */
   #image {
    position: absolute;
    display: none;
    pointer-events: none;
}

.image-item {
    width: 500px;
    height: 300px;
    /* background-color: aqua; */
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5px; /* Space between images */
}

/* Album Modal Styles */
#albumModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Album Content */
.album-content {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column; /*thumbails appear below the image*/
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(48, 39, 39);
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.album-image {
    max-width: 90%;
    max-height: 80vh;
}

/* Navigation Buttons */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(125, 101, 101, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1001;
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}

.close-button{
    top: 20px;
    right: 20px;
    transform: none; /*prevent interference with vertical centering*/
}

/* Background Blur (applies to everything except the album) */
.blur-background *:not(#albumModal):not(#albumModal *) {
    filter: blur(5px);
}
/* Avoid blur on album content */
.no-blur {
    filter: none !important;
}
/* Thumbnail Preview at the Bottom of the Album */
#thumbnailPreview {
display: flex;
justify-content: center;
margin-top: 20px;
}

.thumbnail {
width: 50px;
height: 50px;
margin: 0 5px;
cursor: pointer;
border: 2px solid rgb(94, 94, 94);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
background-size: cover;
background-repeat: no-repeat;
}


/* Responsive Styles */
@media (max-width: 768px) {
.album-content {
padding: 10px;
}

.album-image {
max-width: 100%;
max-height: 70vh;
}

.thumbnail {
width: 40px;
height: 40px;
}

.nav-button {
padding: 8px;
font-size: 16px;
}

.prev-button {
left: 10px;
}

.next-button {
right: 10px;
}

.close-button {
top: 10px;
right: 10px;
}
}